@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* ---------------------------------GLOBAL-STYLE------------------------------------------------- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d3c9c9;
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

body {
    background: url(images/stoneinwater.png) no-repeat center center fixed;
    background-size: cover;
}



/*----------------------------------NAV-BAR-------------------------------------------------------*/

nav {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: #fbfafa;
    position: sticky;
    top: 5px;
    width: 80%;
    border-radius: 40px;
    z-index: 3;
}

.logo {
    color: rgb(0, 0, 0);
    padding-left: 4vw;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    list-style: none;
    margin-right: 4vw;
    margin-top: 10px;
}

.nav-links li {
    padding: 0px 20px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    
}

.nav-links li a:hover {
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
}

.cross {
    display: none;
}

.burger {
    display: none;
}


/*----------------------------------HOME----------------------------------------------------------*/

#home {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20vh;
}

.plate {
    box-shadow:rgba(17, 14, 14, 0.448) 0px 0px 5px 5px;
    top: 14vh;
    background: transparent;
    border-radius: 10px;
    width: 80%;
    max-width: 80%;
    position: relative;
    z-index: 2;
    backdrop-filter: blur(5px);
    justify-content:space-evenly;

}


.plate h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.plate h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}


/*----------------------------------VIEWPORT------------------------------------------------------*/

@media screen and (max-width: 1080px) {
    nav {
        width: 90%;
    }

    .nav-links {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
        padding: 1.2rem 1rem .8rem 1rem;
        font-size: xx-large;
    }

    .plate {
        top: 80px;
    }
}

@media screen and (max-width: 426px) {
    nav {
        width: 97%;
    }

    .plate {
        max-width: 95%;
        width: 95%;
    }
}

